@using FrontEnd.Model.Dtos.Identity
@using FrontEnd.Model.Dtos.Stock

@model CreateWarehouseDto

@{
    ViewBag.Title = "All warehouses";
    var warehouses = ViewData["warehouses"] as List<WarehouseDto>;
    var user = Session["user"] as User;
}

<h2>All warehouses</h2>

<table class="table">
    @foreach (var warehouse in warehouses)
    {
        <tr>
            <td><a href="@Url.Action("ProductsInWarehouse", "Warehouse", new { warehouseId = warehouse.Id })">@warehouse.Location</a></td>
            <td>Warehouse product: <a href="@Url.Action("View", "Product", new { id = warehouse.WarehouseProductId })">@warehouse.WarehouseProductId</a></td>
        </tr>
    }
</table>

@if (user.IsAdmin)
{
    <h4>New warehouse</h4>
    using (Html.BeginForm("Create", "Warehouse"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}